m-text:before {
  content: "\00a0 ";
}

m-notation {

}

m-bold {
  font-weight: bold;
}

m-italic {
  font-style: italic;
}

m-numbered-list {
  display: block;
  list-style-type: decimal;
  margin: 1em 0;
  padding-left: 40px;
}

m-numbered-item {
 display: list-item;
}

m-bulleted-list {
  display: block;
  list-style-type: disc;
  margin: 1em 0 1em;
  padding-left: 40px;
}

m-bulleted-item {
  display: list-item;
}

.list-level-one {
  padding-left: 1em;
}

.list-level-two {
  padding-left: 2em;
}

.list-level-three {
  padding-left: 3em;
}
